In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("train.csv")

In [9]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

data preparation

In [121]:
data_ = data[["SalePrice","MSSubClass","LotFrontage","Utilities","YearBuilt"]].copy()

In [122]:
data_.reset_index(drop=True,inplace=True)

In [123]:
data_.head()

   SalePrice  MSSubClass  LotFrontage Utilities  YearBuilt
0     208500          60         65.0    AllPub       2003
1     181500          20         80.0    AllPub       1976
2     223500          60         68.0    AllPub       2001
3     140000          70         60.0    AllPub       1915
4     250000          60         84.0    AllPub       2000

In [124]:
data_["YearBuilt"] = max(data_["YearBuilt"]) - data_["YearBuilt"]

In [125]:
data_

      SalePrice  MSSubClass  LotFrontage Utilities  YearBuilt
0        208500          60         65.0    AllPub          7
1        181500          20         80.0    AllPub         34
2        223500          60         68.0    AllPub          9
3        140000          70         60.0    AllPub         95
4        250000          60         84.0    AllPub         10
...         ...         ...          ...       ...        ...
1455     175000          60         62.0    AllPub         11
1456     210000          20         85.0    AllPub         32
1457     266500          70         66.0    AllPub         69
1458     142125          20         68.0    AllPub         60
1459     147500          20         75.0    AllPub         45

[1460 rows x 5 columns]

In [39]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

['AllPub' 'NoSeWa']